<% provide(:title, "Edit result") %>
<h1>Update result</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@result) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :marks %>
      <%= f.text_field :marks %>
      
      <%= f.label :comment %>
      <%= f.text_area :comment, size: "60x12" %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
